.table-responsive {
  overflow-x: auto;
  
  table {
    min-width: 800px;
    
    th {
      background-color: #f5f5f5;
      font-weight: 600;
    }
    
    td, th {
      padding: 12px 16px;
    }
    
    tr.mat-row:hover {
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }
}

mat-form-field {
  &.w-100 {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.p-y-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-y-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-auto {
  margin: auto;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-8 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 1rem;
}

.d-block {
  display: block;
}
