<mat-card>
  <mat-card-header>
    <div class="header">
      <h2>Determinación Punto de Fluidez</h2>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="header">
      <h3>Información general de pruebas de Fluidez del Lote</h3>
    </div>
    <mat-card class="card-with-shadow m-8">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Fecha de realización de la muestra: </strong> {{ fechaPrueba }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Lugar de Muestreo: </strong> Puerto Ventanas</p>
        </div>
        <div class="col-md-6">
          <p><strong>Tonelaje: </strong> {{ sumaTonelaje }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Material: </strong> Concentrado de Cobre los bronces</p>
        </div>
        <div class="col-md-6">
          <p><strong>Buque a Cargar: </strong>{{ nombreEmbarque }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Quien realiza la prueba: </strong>Bruno Acevedo</p>
        </div>
      </div>
    </div>
    </mat-card>
  </mat-card-content>
  <mat-card-content>
    <mat-horizontal-stepper>
      <mat-step label="Prueba de humedad">
        <mat-card class="cardWithShadow m-8">
          <mat-card-content class="p-24">
          <div [formGroup]="humedadForm" class="container text-left m-8">
            <h2>Determinación de Humedad</h2>
            <mat-divider></mat-divider>
            <h3>Formulario primera Bandeja</h3>
            <div class="row">
              <div class="col">
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Número de Bandeja</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="nLata1"
                    id="nLata1"
                    placeholder="Ingrese número de lata"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Peso Bandeja (g)</mat-label>
                  <input
                    id="pLata1"
                    matInput
                    formControlName="pLata1"
                    type="number"
                    placeholder="Ej: 3.0"
                    step="0.01"
                    min="0"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Peso muestra (g)</mat-label>
                  <input
                    id="pMaterial1"
                    matInput
                    formControlName="pMaterial1"
                    type="number"
                    placeholder="Ej: 1200.0"
                    step="0.01"
                    min="0"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Peso total (g)</mat-label>
                  <input
                    id="pTotal1"
                    matInput
                    readonly
                    formControlName="pTotal1"
                    type="number"
                    placeholder="Calculado automáticamente"
                    step="0.01"
                    min="0"
                  />
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <h3>Formulario segunda Bandeja</h3>
            <div class="row">
              <div class="col">
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Número de Bandeja</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="nLata2"
                    placeholder="Ingrese número de lata"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Peso Bandeja (g)</mat-label>
                  <input
                    id="pLata2"
                    matInput
                    formControlName="pLata2"
                    type="number"
                    placeholder="Ej: 3.0"
                    step="0.01"
                    min="0"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Peso muestra (g)</mat-label>
                  <input
                    id="pMaterial2"
                    matInput
                    type="number"
                    placeholder="Ej: 1200.0"
                    formControlName="pMaterial2"
                    step="0.01"
                    min="0"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="w-50 m-8"
                  color="primary"
                >
                  <mat-label>Peso total (g)</mat-label>
                  <input
                    id="pTotal2"
                    matInput
                    formControlName="pTotal2"
                    type="number"
                    readonly
                    placeholder="Cálculo automático"
                    step="0.01"
                    min="0"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="text-center m-8">
              <button
                *ngIf="!cliente"
                mat-raised-button
                (click)="guardarHumedad()"
                color="primary"
                class="w-50"
              >
                Enviar Datos
              </button>
            </div>
          </div>  
          </mat-card-content>
        </mat-card>
      </mat-step>
      <mat-step label="Pruebas de Fluidez"> 
        <mat-card class="cardWithShadow m-8">
          <mat-card-content class="p-24">

          </mat-card-content>
        </mat-card>
      </mat-step>
      <mat-step label="Resultados">
        <mat-card class="cardWithShadow m-8">
          <mat-card-content class="p-24">

          </mat-card-content>
        </mat-card>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="header">
      <h3>Pruebas de Fluidez</h3>
    </div>
  </mat-card-content>
</mat-card>
