.estado-aprobado {
    background-color: rgb(0, 184, 0);
    color: white; /* Cambia el color del texto si es necesario */
}

.estado-pendiente {
    background-color: yellow;
    color: black; /* Cambia el color del texto si es necesario */
}

.estado-error {
    background-color: red;
    color: white; /* Cambia el color del texto si es necesario */
}

.dialog-actions {
    display: flex;
    justify-content: flex-end; /* Alinea los botones al final */
    margin-top: 24px; /* Si necesitas un margen superior */
}

.btn-eliminar {
    background-color: #ff0000; /* Color rojo */
    border: none;
    border-radius: 50%; /* Hacer el botón circular */
    cursor: pointer;
    height: 40px; /* Tamaño mediano */
    width: 40px;
    font-size: 24px; /* Tamaño del texto */
    color: #ffffff; /* Color blanco */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-eliminar:hover {
    background-color: #cc0000; /* Color rojo oscuro al hacer hover */
  }