.card-recepcion{
  background-color: #dcf6ff; /* Color celeste claro */
  background-image: linear-gradient(to bottom, #dcf6ff, #beedff); /* Degradado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.card-inventario{
  background-color: #b6ffa8; /* Color celeste claro */
  background-image: linear-gradient(to bottom, #dcf6ff, #beedff); /* Degradado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.card-despacho{
  background-color: #fff7dc; /* Color celeste claro */
  background-image: linear-gradient(to bottom, #fff4c7, #ffdb9d); /* Degradado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}