<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <img
      class="responsive-image"
      src="assets/images/backgrounds/min-2.png"
      alt="Descripción de la imagen"
    />
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow flex">
  <mat-card-content class="text-align-center">
    <div class="row">
<div class="col-md-4">
  <mat-card class="cardWithShadow flex" style="max-width: 300px; margin: 10px;">
    <mat-card-content class="text-align-center">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="m-b-16">Cantidad de Camiones registrados hoy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="small-card">
            <mat-card-content class="text-center">
              <p *ngIf="camiones.length === 0" class="font-weight-bold font-size-18">No hay camiones registrados hoy</p>
              <h3 *ngIf="camiones.length > 0" class="f-s-24 text-primary f-w-600 m-0 m-b-4">{{ camiones.length }}</h3>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-subtitle class="m-16">Hoy a las: {{ fechaActual }}</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>

<div class="col-md-4">
  <mat-card class="cardWithShadow flex" style="max-width: 300px; margin: 10px;">
    <mat-card-content class="text-align-center">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="m-b-16">Toneladas de material registradas hoy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="small-card">
            <mat-card-content class="text-center">
              <p *ngIf="camiones.length === 0" class="font-weight-bold font-size-18">No hay material registrado hoy</p>
              <h3 *ngIf="camiones.length > 0" class="f-s-24 text-primary f-w-600 m-0 m-b-4">{{ pesoNetoHumedoTotal }}</h3>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-subtitle class="m-16">Hoy a las: {{ fechaActual }}</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>

<div class="col-md-4">
  <mat-card class="cardWithShadow flex" style="max-width: 300px; margin: 10px;">
    <mat-card-content class="text-align-center">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="m-b-16">Despachos Realizados este mes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="small-card">
            <mat-card-content class="text-center">
              <p *ngIf="despachosRealizadosEsteMes === 0" class="font-weight-bold font-size-18">No hay despachos realizados este mes</p>
              <h3 *ngIf="despachosRealizadosEsteMes > 0" class="f-s-24 text-primary f-w-600 m-0 m-b-4">{{ despachosRealizadosEsteMes }}</h3>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-subtitle class="m-16">Hoy a las: {{ fechaActual }}</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
    </div>
  </mat-card-content>
</mat-card>
