.estado-aprobado {
    background-color: green;
    color: white; /* Cambia el color del texto si es necesario */
}

.estado-pendiente {
    background-color: yellow;
    color: black; /* Cambia el color del texto si es necesario */
}

.estado-error {
    background-color: red;
    color: white; /* Cambia el color del texto si es necesario */
}