<h2 mat-dialog-title>Trazabilidad de la muestra {{lote.observacion || '...'}}</h2>
<!-- <mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Ingrese Patente"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Botones para reimprimir etiquetas y composito -->
<div class="d-flex justify-content-between mt-3" *ngIf="lote?.fechaPreparacionMuestra">
  <button mat-raised-button color="primary" class="me-2" (click)="reimprimirEtiquetas()">
    <i-tabler name="printer" class="icon-18 me-2"></i-tabler>
    Reimprimir Etiquetas
  </button>
  <button mat-raised-button color="accent" class="ms-2" (click)="composito()">
    <i-tabler name="layers" class="icon-18 me-2"></i-tabler>
    Composito
  </button>
</div>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="controlPeso">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Control Peso
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaControl }}<br>
            {{ element.horaControl }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ingresoRLab">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Recepción Laboratorio
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaRLab }}<br>
            {{ element.horaRLab }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ingresoLab">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Ingreso Laboratorio
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaLab }}<br>
            {{ element.horaLab }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ingresoHorno">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Ingreso al Horno
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaIngresoHorno }}<br>
            {{ element.horaIngresoHorno }}
          </td>
        </ng-container>

        <ng-container matColumnDef="salidaHorno">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Salida de Horno
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaSalidaHorno }}<br>
            {{ element.horaSalidaHorno }}
          </td>
        </ng-container>

        <ng-container matColumnDef="preparacionMuestra">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Preparación de Muestra
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaPreparacionMuestra }}<br>
            {{ element.horaPreparacionMuestra }}
          </td>
        </ng-container>

        <ng-container matColumnDef="almacenamientoMuestraNatural">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Almacenamiento Muestra Natural
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaTestigoteca }}<br>
            {{ element.horaTestigoteca }}
          </td>
        </ng-container>

        <ng-container matColumnDef="distribucionMuestra">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Distribución de la Muestra
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a *ngIf="!element?.fechaPreparacionMuestra" class="m-r-10 cursor-pointer"
            ><i-tabler name="eye-closed" class="icon-18"></i-tabler
          ></a>
            <a *ngIf="element?.fechaPreparacionMuestra" class="m-r-10 cursor-pointer"
              ><i-tabler name="eye" class="icon-18" (click)="tieneMecanica(element.nLote, 1, element.nSobre)"></i-tabler
            ></a>
            <a *ngIf="element?.fechaPreparacionMuestra" class="m-r-10 cursor-pointer"
              ><i-tabler name="printer" class="icon-18" (click)="reimprimirEtiquetas()"></i-tabler
            ></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!-- <mat-paginator
        [pageSizeOptions]="[5, 15, 20]"
        showFirstLastButtons
      ></mat-paginator> -->
    </div>
  </mat-card-content>
</mat-card>
