<h2 mat-dialog-title>Número de Lote: {{ data.numLote || "Cargando..." }}</h2>
<!-- <mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Ingrese Patente"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">

        <ng-container matColumnDef="controlPeso">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Control Peso
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaControl }}<br>
            {{ element.horaControl }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ingresoLab">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Ingreso Laboratorio
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaLab }}<br>
            {{ element.horaLab }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ingresoHorno">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Ingreso al Horno
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaIngresoHorno }}<br>
            {{ element.horaIngresoHorno }}
          </td>
        </ng-container>

        <ng-container matColumnDef="salidaHorno">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Salida de Horno
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaSalidaHorno }}<br>
            {{ element.horaSalidaHorno }}
          </td>
        </ng-container>

        <ng-container matColumnDef="preparacionMuestra">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Preparación de Muestra
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaPreparacionMuestra }}<br>
            {{ element.horaPreparacionMuestra }}
          </td>
        </ng-container>

        <ng-container matColumnDef="almacenamientoMuestraNatural">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Almacenamiento Muestra Natural
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fechaTestigoteca }}<br>
            {{ element.horaTestigoteca }}
          </td>
        </ng-container>

        <ng-container matColumnDef="distribucionMuestra">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Distribución de la Muestra
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a class="m-r-10 cursor-pointer"
              ><i-tabler name="eye" class="icon-18"></i-tabler
            ></a>
            <a class="m-r-10 cursor-pointer">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!-- <mat-paginator
        [pageSizeOptions]="[5, 15, 20]"
        showFirstLastButtons
      ></mat-paginator> -->
    </div>
  </mat-card-content>
</mat-card>
