table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

th,
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.mat-elevation-z8 {
  border-collapse: collapse;
}

table.mat-elevation-z8 th, table.mat-elevation-z8 td {
  border-right: 1px solid #ccc;
}

table.mat-elevation-z8 th:last-child, table.mat-elevation-z8 td:last-child {
  border-right: none;
}
